# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/scenes/scene.unity
Assets/pictures/BeginBattleImage.xcf
Assets/pictures/BeginBattleImage.xcf.meta
Assets/pictures/Flaggen.xcf.meta
*.xcf
Assets/pictures/Flag.xcf.meta
Assets/pictures/Trooper Faces/FACEDRAWS.xcf
Assets/pictures/Trooper Faces/FACEDRAWS.xcf
Assets/pictures/Trooper Faces/FACEDRAWS.xcf
Assets/THINGS TO DO.cs.meta